<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>上海汝佳电器维修有限公司</title>
<meta name="robots" content="all" />
<meta name="keywords" content="上海汝佳电器维修有限公司、家电维修、电器维修" />

<link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/static/css/webmain.css" rel="stylesheet" type="text/css" />
<link href="/static/css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />

<!-- start -->
<link href="/static/css/mobel.css" rel="stylesheet" type="text/css" />
<link id="link_model" href="/static/css/style_blue_009.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.min.__1246684148__.js" ></script>
<script type="text/javascript" src="/static/js/legend.__1330615307__.js" ></script>
<script type="text/javascript" src="/static/js/validator.__1316512143__.js" ></script>
<script type="text/javascript" src="/static/js/bang.__1331805755__.js" ></script>        
<!-- end -->

<script type="text/javascript" src="/static/scripts/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery.KinSlideshow-1.2.1.js"></script>
<script type="text/javascript" src="/static/scripts/webtry_roll.js"></script>
<script type="text/javascript" src="/static/scripts/ddsmoothmenu.js"></script>
<script type="text/javascript">
ddsmoothmenu.init({
	mainmenuid: "MainMenu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})
</script>
</head>
<body>
<div id="wrapper">
    <div class="top">
    <img src="/static/images/logo.gif" width="650" height="90" alt="上海汝佳电器维修有限公司" />
    
  <div id="MainMenu" class="ddsmoothmenu">
    <ul>
      <li><a href="index.html" title="公司主页" {% ifequal header_menu_selected 'index'%} id="menu_selected"{% endifequal %}><span>公司主页</span></a></li>
      <li><a href="weixiuxiangmu.html" title="维修项目" {% ifequal header_menu_selected 'weixiuxiangmu'%} id="menu_selected"{% endifequal %}><span>维修项目</span></a></li>
	  <!-- <li><a href="weixiuxiangmu.html" title="维修项目"><span>维修价目表</span></a></li>
	  <li><a href="weixiuxiangmu.html" title="维修项目"><span>工作展示</span></a></li>
	  
	  <li><a href="#" title="联系我们"><span>联系我们</span></a></li>-->
    </ul>
  </div>
<script type="text/javascript">
$(function(){
    $("#banner").KinSlideshow({
            moveStyle:"right",
            titleBar:{titleBar_height:32,titleBar_bgColor:"#000",titleBar_alpha:0.7},
            titleFont:{TitleFont_size:12,TitleFont_color:"#FFFFFF",TitleFont_weight:"normal"},
            btn:{btn_bgColor:"#2d2d2d",btn_bgHoverColor:"#1072aa",btn_fontColor:"#FFF",btn_fontHoverColor:"#FFF",btn_borderColor:"#4a4a4a",btn_borderHoverColor:"#1188c0",btn_borderWidth:1}
    });
})
</script>
  <div id="banner">
    <a href="#"><img src="/static/images/banner01.jpg" alt="上海汝佳电器维修公司 - 诚信服务、质量保证！" width="950" height="152" /></a>
    <a href="#"><img src="/static/images/banner02.jpg" alt="上海汝佳电器维修公司 - 诚信服务、质量保证！" width="950" height="152" /></a>
    <a href="#"><img src="/static/images/banner03.jpg" alt="上海汝佳电器维修公司 - 诚信服务、质量保证！" width="950" height="152" /></a>
  </div>