{% include 'header.html' %}
  <!-- insert here-->
   <!-- start222 -->
	  <div class="allbg">                  
                  
        <div class="mainleft" id="col_1">        
           <div class="block_type_200" id="block_1107821">
              <div class="title hd">
                 <div class="hw">
                     <div class="r-bg"></div>
                           <ul class="fr" id="btn_add_1107821">
                           </ul>
                           <span class="t-ml"  id="block_name_1107821">上海汝佳电器维修有限公司 -- 简介</span>
                     </div>
                  </div>
                  <div class="nei bd">
                        <div class="content service">
    						<ul>
                    		<li class="js_li_scope_cont" id="sccon_604429">
                                <p class="js_scsmall" id="scsmall_604429">								
								公司成立于......                        
    						</ul>
						</div>
                    </div>
               </div>
         </div>
		 
		 
		 
        <div class="mainright" id="col_2">
            <div class="border block_type_150" id="block_1107822">
                  <div class="title hd">
                     <div class="hw">
                        <div class="r-bg"></div>
                            <ul class="fr" id="btn_add_1107822"></ul>
                            <span class="t-mr" id="block_name_1107822">优惠促销(服务)</span>
                        </div>
                     </div>
                     <div class="nei bd">
                        <div class="content coupon">
        					<ul>
							<li><span class="fr">05.21--07.21</span>               
                				<span class="ft-b">[优惠促销]</span> 
                				<a href="http://sh.ganji.com/fuwu_dian/266421/cuxiao/86875/" title="家电维修大优惠了！赶快打电话吧。" target="_blank">家电维修优惠券...</a></li>
                    		<li><span class="fr">04.19--10.03</span>               
                				<span class="ft-b">[优惠套餐]</span> 
                				<a href="#" title="不收上门费，开机费，检修费。不修不收任何费用。" target="_blank">不收上门费，开机...</a></li>							
                        	<li style="text-align:right;"><a href="#" target="_blank">更多</a></li>
            				</ul>
    					</div>
                    </div>
					
					<div class="title hd">
                     <div class="hw">
                        <div class="r-bg"></div>
                            <ul class="fr" id="btn_add_1107822"></ul>
                            <span class="t-mr" id="block_name_1107822">联系我们</span>
                        </div>
                     </div>
                     <div class="nei bd">
                        <div class="content coupon">
        					<ul>
							<li>              
                				<span class="ft-b">联系人: 黎先生</span></li>                				
                    		<li>             
                				<span class="ft-b">电话： 021-65207894</span></li>                											
                        	<li>QQ: 756710784</li>
            				</ul>
    					</div>
                    </div>
                </div>
          	
          </div>
		  
		  <div class="mainleft" id="col_1">        
           <div class="block_type_200" id="block_1107821">
              <div class="title hd">
                 <div class="hw">
                     <div class="r-bg"></div>
                           <ul class="fr" id="btn_add_1107821">
                           </ul>
                           <span class="t-ml"  id="block_name_1107821">业务能力</span>
                     </div>
                  </div>
                  <div class="nei bd">
                        <div class="content service">
    						<ul>
                    		<li class="js_li_scope_cont" id="sccon_604429">
                                <p class="js_scsmall" id="scsmall_604429">															
								<p>1. 专业维修：各种家用商用电器 KTV音响灯光设备 制冷设备 （冰箱 家用空调 中央空调 ）液晶电视 背投电视 办公设备 电脑通信</p>
								<p>2. 专业承接：地面卫星接收与闭路系统 智能监控与防盗报警系统 各领域工业电子电器维修 中央空调保养 设计安装等业务。</p>
								<p>3. 维修范围：电脑 显示器 局域网组建 传真机 复印机 扫描仪 投影机 CRT电视机 背投电视机 液晶电视机 等离子电视机 音箱 功放 洗衣机 电磁炉 微波炉 冰箱 中央空调 家用空调维修等</p>                          
    						</ul>
						</div>
                    </div>
               </div>
         </div>
		  
		  <div class="mainleft" id="col_1">        
           <div class="block_type_200" id="block_1107821">
              <div class="title hd">
                 <div class="hw">
                     <div class="r-bg"></div>
                           <ul class="fr" id="btn_add_1107821">
                           </ul>
                           <span class="t-ml"  id="block_name_1107821">业务范围</span>
                     </div>
                  </div>
                  <div class="nei bd">
                        <div class="content service">
    						<ul>
                    		<li class="js_li_scope_cont" id="sccon_604429">
                                <p class="js_scsmall" id="scsmall_604429">															
								服务范围： 虹口 杨浦 宝山 浦东 静安 普陀 长宁 闵行 徐汇 闸北                          
    						</ul>
						</div>
                    </div>
               </div>
         </div>
		  
        	<div class="cl"></div>      
	</div>
	  <!-- end222 -->
  <!--  endhere-->
    
{% include 'footer.html' %}    