{% include 'header.html' %}
  <!-- insert here-->
   <!-- start222 -->
	  <div class="allbg">                  
                    
<div class="service-tab">
    <ul>
        <li class="active js_li_scope" id="scnav_0"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">全部</a></span><span class="r-bg"></span></li>
                     <li class="js_li_scope" id="scnav_604429"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">电视机维修</a></span><span class="r-bg"></span> </li>
            
                     <li class="js_li_scope" id="scnav_720153"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">冰箱维修</a></span><span class="r-bg"></span> </li>
            
                     <li class="js_li_scope" id="scnav_720154"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">空调移机</a></span><span class="r-bg"></span> </li>
            
                     <li class="js_li_scope" id="scnav_720155"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">空调维修</a></span><span class="r-bg"></span> </li>

                     <li class="js_li_scope" id="scnav_720158"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">空调清洗</a></span><span class="r-bg"></span> </li>
            
                     <li class="js_li_scope" id="scnav_720156"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">洗衣机维修</a></span><span class="r-bg"></span> </li>
            
                     <li class="js_li_scope" id="scnav_720157"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">微波炉维修</a></span><span class="r-bg"></span> </li>
            
            
                     <li class="js_li_scope" id="scnav_720159"><span class="l-bg"></span><span class="c-bg"><a href="javascript:;">热水器维修</a></span><span class="r-bg"></span> </li>
            
            </ul>
</div>
    

        
        <div class="mainleft" id="col_1">
            
                <div class="block_type_200" id="block_1107821">
                                            <div class="title hd">
                            <div class="hw">
                                                                    <div class="r-bg"></div>
                                    <ul class="fr" id="btn_add_1107821">

                                    </ul>
                                    <span class="t-ml"  id="block_name_1107821">服务项目</span>
                                                            </div>
                        </div>
                                        <div class="nei bd">
                        <div class="content service">
    <ul>
                    <li class="js_li_scope_cont" id="sccon_604429">
                <h4>电视机维修</h4>
                                <p class="js_scsmall" id="scsmall_604429">
								本公司维修CRT，背投，等离子，液晶电视机维修，有专业的维修精英，使你少些烦恼，多些放心！
维修品牌：
东芝， 索尼SONY，夏新，夏普，松下，三洋，日立， 康佳，海信，飞利浦， 创维， 长虹，TCL王牌，SVA上广电液晶电视维修，LG液晶电视，三星液晶电视维修 等
服务承诺 :
（1） 严格按维修程序及操作规程维修，确保维修质量。 
（2） 严把配件质量关，杜绝假冒伪劣配件的使用。 
（3）服务热线24小时有人值班，24小时内做出回应。节假日和周六日不休息，提供上门维修制度；及时成立抢修小组，可随时到达现场抢修。 
（4）收费方面严格执行市物价局和我公司《维修收费标准》，不夸大故障，杜绝乱收费。 
（5）经我中心维修的机器一律实行保修，保修期为三个月，在保修期内如因维修质量或更换配件质量出现问题，我中心负责返修。 
特此注明：如私下与工人达成协议，维修后没有索要维修保修单，电器出现故障，本中心概不负责！ 
24小时热线/市区24小时内上门/电话咨询服务/终身提供服务 
服务项目:液晶电视机全系列故障检测维修 整机调试 讲解电视正常运转原理及日常维护. 
服务品质:维修后请保留单据 客服会对所有的、维修保养服务进行回访 确保服务质量! 
服务宗旨：顾客满意第一 
服务保障：严格遵守国家“三包”规定 
服务便捷：服务网点覆盖整个上海，提供上门服务 

								<a href="http://sh.ganji.com/fuwu_dian/216600/dianshijiweixiu/" target="_blank">[查看全部]</a></p>
                   
                            </li>
                    <li class="js_li_scope_cont" id="sccon_720153">
                <h4>冰箱维修</h4>
                                <p class="js_scsmall" id="scsmall_720153">
								冰箱使用维护常识：
1、使用电冰箱前应先仔细阅读产品说明书。电冰箱使用时应放在平坦踏实的地面上，否则会影响冰箱散热。
2、电冰箱应放置在干燥、通风处，请不要靠近热源，或放在潮湿的地方，也不要放在阳光直射的地方。
3、一般冰箱温控器的档位需根据季节、环境温度、使用情况来适当进行调整。在夏季，温控器置于“1”或“2”较为合适；在春、秋季，温控器置于“3”或“4”较为合适。冬天当环境温度低于10℃时，需将冰箱的季节开关打开。
4、冰箱使用时，应尽量减少开门次数，缩短存取食品的时间。
5、热的食品需冷却到室温后方可放入冰箱。
6、对于间冷式冰箱（即风冷冰箱），保存食品时，食品不要离出风口太近。
7、对于直冷式冰箱，当结霜厚度达5毫米时，需进行人工除霜。
8、电冰箱需要维修时，请与当地的维修技术服务中心联系，或请有专业技术资格的人员修理。
9、当电冰箱停止使用或暂不用时，请用中性清洗剂和水清洗冰箱的内部，并将冰箱门打开，让冰箱充分干燥后再将冰箱的门关闭。
　　 冰箱冷藏室里的温度并不是恒定的，一般来说，上层比下层温度高，冰箱门口处温度最高，靠近后壁处温度最低，因此，食物摆放时是有讲究的。比如，一两天内就要吃完的小食品、不容易坏的番茄酱、沙拉酱、果汁饮料，以及鸡蛋、咸鸭蛋等蛋类食品可以放在门框上；剩饭菜以及豆制品等比较容易变质的食物放在冰箱上层后壁附近；水果、蔬菜等可以放在冰箱下层，或者是专门的果菜盒里，但不要太靠里边，以免被冻坏。
除霜不费力：热毛巾+塑料膜
　　 霜层越厚，制冷效果越差，因此需定期为冰箱除霜。清理过程中，最重要的是要把冷冻室内壁以及抽屉隔板等冰霜积水清干净。目前大部分冰箱都有自动融霜功能，冷冻室不会有太多陈冰，只需要用热毛巾“热敷”一下，薄冰就能融化。
　　 还有一个更为简单的办法，除掉结冰后，等冰箱运转一段时间，在易结冰的地方贴一层塑料膜或者薄塑料布，下次除霜时直接撕膜就可以解决问题。
除异味：茶叶、水果皮全上阵
　　 冰箱使用时间长又未做及时清理，就会出现难闻的异味，可在冰箱中放入柚子或橘子皮。方法是将水果皮晾干，分别放置在冷藏室的各层上，每层100克左右，每半个月换一次。另外，泡过的茶叶沥干水分后，用小碟子盛着放在冰箱里，也可以吸收难闻的气味。或是使用活性炭吸附，但要每隔一周到两周更换一次，并在光照充足的地方暴晒一下，保证最好的吸附效果。 

								<a href="http://sh.ganji.com/fuwu_dian/216600/bingxiangweixiu/" target="_blank">[查看全部]</a></p>
                   
                            </li>
                    <li class="js_li_scope_cont" id="sccon_720154">
                <h4>空调移机</h4>
                                <p class="js_scsmall" id="scsmall_720154">户式中央空调和柜挂机空调、设计安装、移机 
<a href="http://sh.ganji.com/fuwu_dian/216600/kongtiaoyiji/" target="_blank">[查看全部]</a></p>
                   
                            </li>
                    <li class="js_li_scope_cont" id="sccon_720155">
                <h4>空调维修</h4>
                                <p class="js_scsmall" id="scsmall_720155">
								空调加液，维修，保养，清洗，承接空调移机，设计安装等服务！
我公司是多年与松下户式中央空调售后部合作专业从事家用空调安装、移机、清洗保养、检测加氟（加氟立昂、加雪种、加液 加药水、加制冷剂）；户式中央空调和中央空调维修保养、设计安装、冷库组建、设计安装、维修、冰箱冰柜、制冰机 海鲜池、系列制冷设备维修维护等业务。
服务项目如下： 
家用空调维修：品牌如：三菱、松下，东芝、日立、LG、三星、索尼、长虹、奥克斯、澳柯玛、格兰仕、双鹿、夏普、格力、海尔、美的、华宝、春兰 等等各种国内外品牌的电器提供优质的 安装、维修、检测服务。 

中央空调：美的、松下、开利、约克、大金、麦克维尔、日立、三菱、特灵等中央空调的设计、保养、维修、加液、疑难故障处理。 

冷冻设备：冻库、盐水池、酒店鱼缸、厨房冰箱、其它冷冻设备等的设计、销售、安装、维修、保养。 

回收类：高价回收各种品牌空调器、中央空调及冷库。

　　为您设计家用空调、中央空调及冷库设备，提供专业化的解决方案，根据您的实际环境和您的个性化要求，设计出最合理的安装方案。欢迎新老客户与我们公司联系．我们将会给您一定的优惠！齐超永远真诚为你提供优质服务！ 
　　本着“用户至上、质量第一”的宗旨。公司一直以客户需求为第一，想客户之所想，解客户之所急，以信誉求发展，以最好的服务态度及质量求生存，一切以客户满意为标准。
全心全意为您服务~~ 
<a href="http://sh.ganji.com/fuwu_dian/216600/kongtiaoweixiu/" target="_blank">[查看全部]</a></p>
                   
                            </li>
					<li class="js_li_scope_cont" id="sccon_720158">
                <h4>空调清洗</h4>
                                <p class="js_scsmall" id="scsmall_720158">
								经营范围： 一、各种品牌的分体式壁挂空调、柜式空调、吸顶式空调的维修、 安装、移机、加液、清洗、保养。 二、各种制冷设备的维修、保养。 三、配备各种空调电脑板，改装更换、配遥控器。 四、销售美的、格力空调各种配件，其他空调配件需电话咨询订购。 五、出售二手空调，冰箱，彩电 六、免费提供各种品牌空调的技术咨询。 

								<a href="http://sh.ganji.com/fuwu_dian/216600/kongtiaoqingxi/" target="_blank">[查看全部]</a></p>
                   
                            </li>
                    <li class="js_li_scope_cont" id="sccon_720156">
                <h4>洗衣机维修</h4>
                                <p class="js_scsmall" id="scsmall_720156">
								各种型号洗衣机检修:
（1）洗衣故障：不进水.不洗衣.不漂洗.不脱水.不排水.等
（2）通电故障：不通电.不启动.筒不转.筒不能高速运转.等
（3）噪音故障：噪音巨响.洗衣机不稳定.洗衣机跳舞.等
（4）清洗保养：洗衣机消毒.赃物消除.内外机清洗擦拭. 

								<a href="http://sh.ganji.com/fuwu_dian/216600/xiyijiweixiu/" target="_blank">[查看全部]</a></p>
                   
                            </li>
                    <li class="js_li_scope_cont" id="sccon_720157">
                <h4>微波炉维修</h4>
                                <p class="js_scsmall" id="scsmall_720157">
								【微波炉专业维修中心维修品牌】
格兰仕、LG、 美的、松下、海尔、三星、三洋、东芝、惠而浦格力、等微波炉品牌。 微波是一种电磁波，具有能量。家用微波炉是一种高技术家电产品，且内有高压电，维修时一定要小心谨慎，才不会
引起人身危险及损坏微波炉。一般来说，维修时须注意以下一些事项：
　　一、微波炉发现异常或故障，应及时通知生产厂家的维修部门或特约维修点来维修，千万不要自己检修或继续使用。
　　二、在对微波炉的内部进行检查维修前，一定要先切断电源开关，并拔下电源插头。
　　三、修理时，切勿因电源已切断而麻痹大意，因为微波炉的高压回路中的整流电路的高压电容曾经充了电，里面仍蓄有高
压电，触摸它将有被高压电电击的危险，要十分注意。
　　四、同压电路时，先要利用接地线把高压电容中蓄存的高压电能放掉，然后才能进行维修。

【易出现故障的症状】

1.微波炉、开机后调定时器时，保险丝立即熔断。 2.微波炉、开机后关闭炉门启动开关，
接通保险丝立即熔断 3. 微波炉、开机后烹调食物不熟。 4.微波炉、开机后设定时间微波
炉不停止工作 5.微波炉、开机后转盘正常，灯亮，不加 热。6.微波炉、炉腔内打火、异味。 

								<a href="http://sh.ganji.com/fuwu_dian/216600/weiboluweixiu/" target="_blank">[查看全部]</a></p>
                   
                            </li>
                    
                    <li class="js_li_scope_cont" id="sccon_720159">
                <h4>热水器维修</h4>
                                <p class="js_scsmall" id="scsmall_720159">
								电热水器维修范围:美的、海尔、阿波罗、樱花 、万家乐、金友、贵友、大拇指、比德斯 、赛德隆、万和 谱田、意先 、史麦斯 比利奇、 阿里斯顿、恒热 、 神州 、华宝、哈佛、史密斯、太尔、帅康、西门子、华虹、奥特朗、康泉、兰宝、杰邦、希贵，小鸭 、小天鹅 、波斯顿、欧胜、黑豹、荣事达 、容声 、 威森、丹普、桑普、帅佳、帅康、澳柯玛、三林、三洋、博世、希丹、希贵、安妮、飞人、光芒、豪山、捷佳、龙子、欧胜、赛蒙、水仙、伊麦尔、指南...... 

电热水器:
1、热水器插上电源指示灯无显示不加热。
2、热水器插上电源指示灯亮却不加热。
3、热水器无法插电、插上就跳闸。
4、热水器漏水《安全阀漏水可以更换，内胆漏水请联系厂家》 

								<a href="http://sh.ganji.com/fuwu_dian/216600/reshuiqiweixiu/" target="_blank">[查看全部]</a></p>
                   
                            </li>
        
    </ul>
</div>

<script type='text/javascript'>
    $(".js_li_scope").unbind("click");
    $(".js_li_scope").bind("click",function(){
        $(".js_li_scope").removeClass("active");
        var id=$(this).attr("id").split("_")[1];
        $(this).addClass("active");
        if(parseInt(id)>0){
           $(".js_li_scope_cont").hide();
           $("#sccon_"+id).show();
         //  $("#scsmall_"+id).hide();
         //  $("#scbig_"+id).show();
        }else{
            $(".js_li_scope_cont").show();
         //   $(".js_scsbig").hide();
         //   $(".js_scsmall").show();
        }
    });
    
    $(".js_viewscope").unbind("click");
    $(".js_viewscope").bind("click",function(){
        var id=$(this).attr("id").split("_")[1];
        $("#scnav_"+id).click();
    });
</script>
                    </div>
                </div>
                    </div>
        <div class="mainright" id="col_2">
            <div class="border block_type_150" id="block_1107822">
                  <div class="title hd">
                     <div class="hw">
                        <div class="r-bg"></div>
                            <ul class="fr" id="btn_add_1107822"></ul>
                            <span class="t-mr" id="block_name_1107822">优惠促销(服务)</span>
                        </div>
                     </div>
                     <div class="nei bd">
                        <div class="content coupon">
        					<ul>
							<li><span class="fr">05.21--07.21</span>               
                				<span class="ft-b">[优惠促销]</span> 
                				<a href="http://sh.ganji.com/fuwu_dian/266421/cuxiao/86875/" title="家电维修大优惠了！赶快打电话吧。" target="_blank">家电维修优惠券...</a></li>
                    		<li><span class="fr">04.19--10.03</span>               
                				<span class="ft-b">[优惠套餐]</span> 
                				<a href="#" title="不收上门费，开机费，检修费。不修不收任何费用。" target="_blank">不收上门费，开机...</a></li>							
                        	<li style="text-align:right;"><a href="#" target="_blank">更多</a></li>
            				</ul>
    					</div>
                    </div>
                </div>
          	<div class="border block_type_100" id="block_1107823">
                <div class="title hd">
                    <div class="hw">
                       <div class="r-bg"></div>
                          <ul class="fr" id="btn_add_1107823"></ul>
                          <span class="t-mr" id="block_name_1107823">电子地图</span>
                       </div>
                    </div>
                    <div class="nei bd">
                        <!-- 电子地图 -->
						<div style="text-align:center;" id="map_container"></div>

                  	</div>
             </div>
          </div>
		  
        <div class="cl"></div>
        

</div>

<div style="display:none">

    
</div>
            <script type="text/javascript">
            GJ.use('js/app/common/lottery/lottery.js', function(){
                GJ.lottery();
            });
        </script>
    
    <script type="text/javascript">

        var cityName = '上海';
        var cityDomain = 'sh';

        if (typeof lngLat != 'undefined' && lngLat){
            GJ.use('map', function(){
                GJ.createMap({
                    type : 'view',
                    displayType : 'iframe',
                    cityName : cityName,
                    cityDomain : cityDomain,
                    lngLat : lngLat,
                    containerId : 'map_container',
                    height : 450,
                    simple : 'yes'
                });
            });
        }

        Bang.init();

        
            $.get("/ajax.php?act=addHit");
            
        //chongwu 
                       GJ.use('log_tracker', function(){
                   GJ.LogTracker.gjch="/fuwu/bangbang/detail@bang_id=27543";
                   GJ.LogTracker.trackPageView(); 
               });
            </script>
	  <!-- end222 -->
  <!--  endhere-->
    
{% include 'footer.html' %}  